@import '../../assets/variables.scss';

@media only screen and (max-width:1224px) {
  section {
    padding-top: 10px;
    text-align: unset;
    color: $color1;
    text-align: center;
    height: 100%;
    h1{
      display: none;
    }
    .contact-div {
      display: none;
    }

    .profile-image {
      background-position-x: -32px;
      min-height: 7em;
      width: 7em;
    }
  }
}