@import '../../assets/variables.scss';

section {
    display: none;
}

@media only screen and (max-width:1224px) {
    section {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 0.5em;
        #contact {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a {
            margin: 0.5em 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 3em;
            height: 3em;
            border-radius: 50%;
            
            img {
                width: 50%;
                height: auto;
            }

            &:hover {
                background-color: $color2;
            }
        }
    }
}