<section class="mobile">
    <div id="contact">
        
        <a href="tel:{{resume.phoneNumber}}" target="_blank"><img src="assets/img/phoneLogo.png" /></a>

        <a href="mailto:{{resume.email}}" target="_blank"><img src="assets/img/mailLogo.png" /></a>

        <a href="https://github.com/mohitsparihar/" target="_blank"><img src="assets/img/gitlogo.png" /></a>

        <a href="https://linkedin.com/in/mohitsparihar"target="_blank"><img src="assets/img/linkedinLogo.png" /></a>
    </div>
</section>