<section class="main" (click)="toggleMenu($event)">
    <nav class="desktop-nav">
        <a href="#home" id="home-btn">Home</a>
        <a href="https://mspwrites.com/blog/" target="_blank">Blog</a>
        <a href="#skills" id="nav-skills">Skills</a>
        <a href="#projects" id="nav-projects">Projects</a>
        <a href="#experience" id="nav-experience">Experience</a>
        <a href="#personal-projects" id="nav-personal-projects">Personal Projects</a>
        <a href="#education" id="nav-education">Education</a>

        <div class="hamburgerMenu"></div>
    </nav>

    <!-- Navigation bar for the mobile devices -->
    <nav class="mobile-nav">
        <a href="javascript:void(0);" class="icon" id="hamburger-icon" (click)="toggleMenu($event)">
            <i class="fa fa-bars"></i>
        </a>
        <div id="myLinks" [ngClass]="{'visible' : showMenu, 'hide' : !showMenu}">
            <a href="/">Home</a>
            <a href="https://mspwrites.com/blog/" target="_blank">Blog</a>
            <a href="#skills" id="nav-skills">Skills</a>
            <a href="#projects" id="nav-projects">Projects</a>
            <a href="#experience" id="nav-experience">Experience</a>
            <a href="#personal-projects" id="nav-personal-projects">Personal Projects</a>
            <a href="#education" id="nav-education">Education</a>
        </div>
    </nav>
    <section class="left-panel">
        <app-header></app-header>
    </section>
    <section class="right-panel" (scroll)="scrollHandler()">
        <app-home></app-home>
    </section>
</section>